.lightbulbsSection {

  .lightbulbPreview {
    margin: 1rem;
    opacity: .3;

    .name {
      text-align: center;
    }

    .stateIndicator {
      background-color: var(--background-color);
      border: 3px solid var(--color-beige);
      border-radius: 50%;
      
      margin-bottom: 1rem;
      height: 120px;
      width: 120px;

      &.on {
        background-color: var(--color-beige);
      }
    }

    &.reachable {
      opacity: 1;
    }
  }

  .lightbulbsTable {
    margin: 1rem;

    .row {
      border-radius: 2px;
      display: flex;
      justify-content: center;
  
      &:hover {
        background-color: #f5f5f523;
      }
  
      .cell {
        display: inline-block;
        margin: 1rem;
        width: 120px;
        text-align: center;

        &:first-child {
          text-align: right;
          width: 20px;
        }
      }
    }

    .bulbCaptionInput {
      background-color: #f5f5f523;
      border: 0;
      border-radius: 1px;
      cursor: text;
      color: var(--color-beige);
      font-style: italic;
      font-size: 1rem;
      outline: 0;
      padding: 2px 4px;
      text-decoration: underline;
      width: 100%;
    }
  }
}